 
<%-include('../partials/header')-%>
<%-include('../partials/navbar')-%>
        <div class="content">
            <h1>New Event  & <br><span>Of Alger </span> <br>DISCRIPTION</h1>
            <p class="par">Alger est la capitale de l'Algérie. Elle se trouve sur la côte
                 méditerranéenne du pays. 
                <br> join??</p>
                <button class="cn"><a href="/users/signup">JOIN US</a></button>
                 
                   
        </div>
  
    <%-include('../partials/footer')-%>    
    